.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1em;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.slogan {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
}

.slogan img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.list li {
    margin-right: 1em;
}

.list li a {
    color: #fff;
    text-decoration: none;
}