.entrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipoUsuario {
    display: flex;
    align-items: center;
}

.tipoUsuario p {
    font-size: 20px;
    margin-left: 10px;
}

.link_cadastro {
    margin-top: 16px;
}

.link_cadastro a {
    color: black;
}